.Card{
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;

    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
}

.Card .Title{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content{
    /* Flex serve para o conteúdo ocupar todo o espaço do card*/
    flex: 1;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}